/**************************
 * reset style to default *
 **************************/
*{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 6pt;
    padding: 4pt 2pt 2pt;
}
p{
    margin: 2pt;
    padding: 2pt 4pt;
}



/*******************
 * header & footer *
 *******************/
#header,
#footer{
    display: block;
    position: relative;
}
#header{
    font-size: 26pt;
    padding-top: 26px;
    padding-bottom: 8px;
    padding-left: 4%;
    padding-right: 4%;
}
#footer{
    font-size: 12pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 24px;
}


/*******************
 * main navigation *
 *******************/
#nav{
    display: block;
    position: relative;
    background-color: #ededed;
    box-shadow: 0px 0px 4px #bababa;
}
#nav ul{
   list-style: none;
   display: inline-block;
   position: relative;
}
#nav ul>li{
    display: inline-block;
    font-size: 12pt;
}
#nav ul>li a{
    display: block;
    padding: 6pt 4pt;
    min-width: 44pt;
    text-align: center;
    margin-bottom: -2px;
    text-decoration: none;
    font-size: 14pt;
    color: #5364a1;
    transition: color 400ms, font 200ms, padding 200ms;
}
#nav ul>li a:hover{
    color: #fa4351;
}

#nav ul.nav-langbar{
    float: right;
    margin-right: 8px;
}
#nav ul.nav-langbar>li a{
    min-width: 14pt;
}
#nav ul.nav-langbar>li a.selected{
    min-width: 14pt;
    color: #aa4444;
}

.hidden{
    visibility: hidden;
}


/****************
 * main content *
 ****************/
#main{
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 960px;
    min-height: 360px;
    margin: 10px auto 14px;
    box-shadow: 0 0 4px #aaaaaa;
    padding: 4pt 10pt 6pt;
}
